header{
    width: 100%;
    background-color: var(--var-cor-fundo-card);
    display: flex;
    justify-content: center;
    /* display: none; */
}
.nav-item{
    border-bottom: 3px solid #30353d;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.titulo-page{
    color: var(--var-cor-texto-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
}
.list-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-nav{
    background-color: var(--var-cor-fundo-card);
    border-radius: 10px ;
    border: 2px solid rgb(61, 59, 59);
    padding: 10px;
    margin: 6px 0;
    width: 500px;
    font-size: 15px;
    max-width: 90%;
}
.item-nav:hover{
    cursor: pointer;
    background-color: #17191f;
}
.item-nav a{
    color: var(--var-cor-texto-secundario);
}