@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('menu.css');
@import url('conteudo.css');
@import url('footer.css');

:root{
    --var-cor-fundo: #0F172A;
    --var-cor-fundo-card: #1E293B;
    --var-cor-texto-principal: #F1F5F9;
    --var-cor-texto-secundario: #94A3B8;
    --var-cor-area-resultado: #0F172A;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
li {
    color: var(--var-cor-texto-secundario);
}
body{
    background-color: var(--var-cor-fundo);
}

.conteudo-exercicio{
    display: none;
}